/* paleta de colores y fuentes */
:root{
--White: hsl(0, 0%, 100%);
--LightGray: hsl(212, 45%, 89%);
--GrayishBlue: hsl(220, 15%, 55%);
--DarkBlue: hsl(218, 44%, 22%);

--fuentePrincipal: 'Outfit', sans-serif;;
--normal: 400;
--bold: 700;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;

    height: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: var(--LightGray);
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* globales */
img{
    width: 100%;
}

.container{
    max-width: 32rem;
    margin: 0 auto;
}

/* codigo */

.codigo{
    background-color: var(--White);
    padding: 2rem;
    margin: 0 2rem;
    border-radius: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.codigo__img{
    border-radius: 1rem;
}

.codigo__title{
    font-weight: var(--bold);
    color: var(--DarkBlue);
    font-size: 2.4rem;
    margin-bottom: 0;
    text-align: center;
}
.codigo__text{
    text-align: center;
    font-weight: var(--normal);
    color: var(--GrayishBlue);
}